<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.rob__.performancer"
    android:versionCode="1"
    android:versionName="1.0" >

	<!-- Disallows access to tablets (due to GUI...) -->
	<compatible-screens>
		<screen android:screenSize="small" android:screenDensity="ldpi" />
		<screen android:screenSize="small" android:screenDensity="mdpi" />
		<screen android:screenSize="small" android:screenDensity="hdpi" />
		<screen android:screenSize="small" android:screenDensity="xhdpi" />
		<screen android:screenSize="small" android:screenDensity="480" />
		<screen android:screenSize="small" android:screenDensity="640" />

		<screen android:screenSize="normal" android:screenDensity="ldpi" />
		<screen android:screenSize="normal" android:screenDensity="mdpi" />
		<screen android:screenSize="normal" android:screenDensity="hdpi" />
		<screen android:screenSize="normal" android:screenDensity="xhdpi" />
		<screen android:screenSize="normal" android:screenDensity="480" />
		<screen android:screenSize="normal" android:screenDensity="640" />
	</compatible-screens>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RAM"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CPU"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Battery"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Sensors"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Device"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Tests"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Storage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Network"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>
</manifest>
